#tela {
    width: 100%;
    height: 30%;
    padding: 0% 3% 0% 0%;
}

#calculoDisplay {
    margin-top: 15%;
    float: right;
    font-size: 15pt;
}

#resultadoDisplay {
    clear: right;
    float: right;
    font-size: 25pt;
}

#botoesCalculadoraPadrao{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 60%;
    background: radial-gradient(circle, rgba(30,45,64,1) 27%, rgba(13,13,13,1) 100%);
}

.botao {
    float: left;
    width: 20%;
    height: 20%;
    background: none;
    border: none;
    font-size: 20pt;
    transition: 0.3s;
}

.botao:hover {
    background-color: gray;
}